@font-face {
  font-family: "Clash Display";
  src: url("D:/Code/haneeshra-raj-portfolio/client/src/assets/fonts/ClashDisplay-Variable.woff2") format("woff2");
  font-weight: 1 900;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

::selection {
  background-color: var(--secondary65);
  color: var(--text80);
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

html[data-theme=light] {
  --text: #050606;
  --background: #fcfdfd;
  --primary: #60af8b;
  --secondary: #99d6ba;
  --accent: #6fd3a6;
  --font-family: "Clash Display", sans-serif;
  --text5: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.05
  );
  --text10: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.1
  );
  --text15: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.15
  );
  --text20: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.2
  );
  --text25: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.25
  );
  --text30: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.3
  );
  --text35: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.35
  );
  --text40: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.4
  );
  --text45: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.45
  );
  --text50: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.5
  );
  --text55: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.55
  );
  --text60: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.6
  );
  --text65: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.65
  );
  --text70: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.7
  );
  --text75: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.75
  );
  --text80: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.8
  );
  --text85: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.85
  );
  --text90: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.9
  );
  --text95: hsl(
    180deg,
    9.0909090909%,
    2.1568627451%,
    0.95
  );
  --background5: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.05
  );
  --background10: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.1
  );
  --background15: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.15
  );
  --background20: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.2
  );
  --background25: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.25
  );
  --background30: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.3
  );
  --background35: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.35
  );
  --background40: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.4
  );
  --background45: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.45
  );
  --background50: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.5
  );
  --background55: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.55
  );
  --background60: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.6
  );
  --background65: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.65
  );
  --background70: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.7
  );
  --background75: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.75
  );
  --background80: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.8
  );
  --background85: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.85
  );
  --background90: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.9
  );
  --background95: hsl(
    180deg,
    20%,
    99.0196078431%,
    0.95
  );
  --primary5: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.05
  );
  --primary10: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.1
  );
  --primary15: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.15
  );
  --primary20: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.2
  );
  --primary25: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.25
  );
  --primary30: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.3
  );
  --primary35: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.35
  );
  --primary40: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.4
  );
  --primary45: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.45
  );
  --primary50: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.5
  );
  --primary55: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.55
  );
  --primary60: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.6
  );
  --primary65: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.65
  );
  --primary70: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.7
  );
  --primary75: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.75
  );
  --primary80: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.8
  );
  --primary85: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.85
  );
  --primary90: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.9
  );
  --primary95: hsl(
    152.6582278481deg,
    33.0543933054%,
    53.137254902%,
    0.95
  );
  --secondary5: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.05
  );
  --secondary10: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.1
  );
  --secondary15: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.15
  );
  --secondary20: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.2
  );
  --secondary25: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.25
  );
  --secondary30: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.3
  );
  --secondary35: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.35
  );
  --secondary40: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.4
  );
  --secondary45: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.45
  );
  --secondary50: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.5
  );
  --secondary55: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.55
  );
  --secondary60: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.6
  );
  --secondary65: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.65
  );
  --secondary70: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.7
  );
  --secondary75: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.75
  );
  --secondary80: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.8
  );
  --secondary85: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.85
  );
  --secondary90: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.9
  );
  --secondary95: hsl(
    152.4590163934deg,
    42.6573426573%,
    71.9607843137%,
    0.95
  );
  --accent5: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.05
  );
  --accent10: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.1
  );
  --accent15: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.15
  );
  --accent20: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.2
  );
  --accent25: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.25
  );
  --accent30: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.3
  );
  --accent35: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.35
  );
  --accent40: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.4
  );
  --accent45: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.45
  );
  --accent50: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.5
  );
  --accent55: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.55
  );
  --accent60: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.6
  );
  --accent65: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.65
  );
  --accent70: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.7
  );
  --accent75: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.75
  );
  --accent80: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.8
  );
  --accent85: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.85
  );
  --accent90: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.9
  );
  --accent95: hsl(
    153deg,
    53.1914893617%,
    63.137254902%,
    0.95
  );
  --hex1: #050606;
  --hex2: #fcfdfd;
  --hex3: #60af8b;
}

html[data-theme=dark] {
  --text: #f9fafa;
  --background: #020303;
  --primary: #509f7c;
  --secondary: #29664a;
  --accent: #2c9063;
  --font-family: "Clash Display", sans-serif;
  --text5: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.05
  );
  --text10: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.1
  );
  --text15: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.15
  );
  --text20: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.2
  );
  --text25: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.25
  );
  --text30: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.3
  );
  --text35: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.35
  );
  --text40: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.4
  );
  --text45: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.45
  );
  --text50: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.5
  );
  --text55: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.55
  );
  --text60: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.6
  );
  --text65: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.65
  );
  --text70: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.7
  );
  --text75: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.75
  );
  --text80: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.8
  );
  --text85: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.85
  );
  --text90: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.9
  );
  --text95: hsl(
    180deg,
    9.0909090909%,
    97.8431372549%,
    0.95
  );
  --background5: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.05
  );
  --background10: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.1
  );
  --background15: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.15
  );
  --background20: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.2
  );
  --background25: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.25
  );
  --background30: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.3
  );
  --background35: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.35
  );
  --background40: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.4
  );
  --background45: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.45
  );
  --background50: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.5
  );
  --background55: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.55
  );
  --background60: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.6
  );
  --background65: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.65
  );
  --background70: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.7
  );
  --background75: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.75
  );
  --background80: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.8
  );
  --background85: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.85
  );
  --background90: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.9
  );
  --background95: hsl(
    180deg,
    20%,
    0.9803921569%,
    0.95
  );
  --primary5: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.05
  );
  --primary10: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.1
  );
  --primary15: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.15
  );
  --primary20: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.2
  );
  --primary25: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.25
  );
  --primary30: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.3
  );
  --primary35: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.35
  );
  --primary40: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.4
  );
  --primary45: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.45
  );
  --primary50: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.5
  );
  --primary55: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.55
  );
  --primary60: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.6
  );
  --primary65: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.65
  );
  --primary70: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.7
  );
  --primary75: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.75
  );
  --primary80: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.8
  );
  --primary85: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.85
  );
  --primary90: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.9
  );
  --primary95: hsl(
    153.417721519deg,
    33.0543933054%,
    46.862745098%,
    0.95
  );
  --secondary5: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.05
  );
  --secondary10: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.1
  );
  --secondary15: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.15
  );
  --secondary20: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.2
  );
  --secondary25: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.25
  );
  --secondary30: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.3
  );
  --secondary35: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.35
  );
  --secondary40: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.4
  );
  --secondary45: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.45
  );
  --secondary50: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.5
  );
  --secondary55: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.55
  );
  --secondary60: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.6
  );
  --secondary65: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.65
  );
  --secondary70: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.7
  );
  --secondary75: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.75
  );
  --secondary80: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.8
  );
  --secondary85: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.85
  );
  --secondary90: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.9
  );
  --secondary95: hsl(
    152.4590163934deg,
    42.6573426573%,
    28.0392156863%,
    0.95
  );
  --accent5: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.05
  );
  --accent10: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.1
  );
  --accent15: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.15
  );
  --accent20: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.2
  );
  --accent25: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.25
  );
  --accent30: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.3
  );
  --accent35: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.35
  );
  --accent40: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.4
  );
  --accent45: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.45
  );
  --accent50: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.5
  );
  --accent55: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.55
  );
  --accent60: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.6
  );
  --accent65: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.65
  );
  --accent70: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.7
  );
  --accent75: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.75
  );
  --accent80: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.8
  );
  --accent85: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.85
  );
  --accent90: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.9
  );
  --accent95: hsl(
    153deg,
    53.1914893617%,
    36.862745098%,
    0.95
  );
  --hex1: #f9fafa;
  --hex2: #020303;
  --hex3: #509f7c;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-family);
  font-weight: 500;
  transition: all 300ms;
}
